In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("weatherAUS.csv")
print(data.head(5))

         Date Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
0  2008-12-01   Albury     13.4     22.9       0.6          NaN       NaN
1  2008-12-02   Albury      7.4     25.1       0.0          NaN       NaN
2  2008-12-03   Albury     12.9     25.7       0.0          NaN       NaN
3  2008-12-04   Albury      9.2     28.0       0.0          NaN       NaN
4  2008-12-05   Albury     17.5     32.3       1.0          NaN       NaN

  WindGustDir  WindGustSpeed WindDir9am  ... Humidity9am  Humidity3pm  \
0           W           44.0          W  ...        71.0         22.0
1         WNW           44.0        NNW  ...        44.0         25.0
2         WSW           46.0          W  ...        38.0         30.0
3          NE           24.0         SE  ...        45.0         16.0
4           W           41.0        ENE  ...        82.0         33.0

   Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  RainToday  \
0       1007.7       1007.1       8.0       NaN     16.9     21.8         No
1       1010.6       1007.8       NaN       NaN     17.2     24.3         No
2       1007.6       1008.7       NaN       2.0     21.0     23.2         No
3       1017.6       1012.8       NaN       NaN     18.1     26.5         No
4       1010.8       1006.0       7.0       8.0     17.8     29.7         No

   RainTomorrow
0            No
1            No
2            No
3            No
4            No

[5 rows x 23 columns]

In [3]:
data.isnull().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [4]:
data.shape

(145460, 23)

In [5]:
data.head(10)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
5,2008-12-06,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,W,...,55.0,23.0,1009.2,1005.4,NaN,NaN,20.6,28.9,No,No
6,2008-12-07,Albury,14.3,25.0,0.0,NaN,NaN,W,50.0,SW,...,49.0,19.0,1009.6,1008.2,1.0,NaN,18.1,24.6,No,No
7,2008-12-08,Albury,7.7,26.7,0.0,NaN,NaN,W,35.0,SSE,...,48.0,19.0,1013.4,1010.1,NaN,NaN,16.3,25.5,No,No
8,2008-12-09,Albury,9.7,31.9,0.0,NaN,NaN,NNW,80.0,SE,...,42.0,9.0,1008.9,1003.6,NaN,NaN,18.3,30.2,No,Yes
9,2008-12-10,Albury,13.1,30.1,1.4,NaN,NaN,W,28.0,S,...,58.0,27.0,1007.0,1005.7,NaN,NaN,20.1,28.2,Yes,No

In [6]:
print(data['Location'].unique())

['Albury' 'BadgerysCreek' 'Cobar' 'CoffsHarbour' 'Moree' 'Newcastle'
 'NorahHead' 'NorfolkIsland' 'Penrith' 'Richmond' 'Sydney' 'SydneyAirport'
 'WaggaWagga' 'Williamtown' 'Wollongong' 'Canberra' 'Tuggeranong'
 'MountGinini' 'Ballarat' 'Bendigo' 'Sale' 'MelbourneAirport' 'Melbourne'
 'Mildura' 'Nhil' 'Portland' 'Watsonia' 'Dartmoor' 'Brisbane' 'Cairns'
 'GoldCoast' 'Townsville' 'Adelaide' 'MountGambier' 'Nuriootpa' 'Woomera'
 'Albany' 'Witchcliffe' 'PearceRAAF' 'PerthAirport' 'Perth' 'SalmonGums'
 'Walpole' 'Hobart' 'Launceston' 'AliceSprings' 'Darwin' 'Katherine'
 'Uluru']

In [7]:
print(data['WindGustDir'].unique())

['W' 'WNW' 'WSW' 'NE' 'NNW' 'N' 'NNE' 'SW' nan 'ENE' 'SSE' 'S' 'NW' 'SE'
 'ESE' 'E' 'SSW']

In [8]:
data_copy=data.copy()

In [9]:
(data_copy.isnull().sum() / len(data_copy)) * 100

Date              0.000000
Location          0.000000
MinTemp           1.020899
MaxTemp           0.866905
Rainfall          2.241853
Evaporation      43.166506
Sunshine         48.009762
WindGustDir       7.098859
WindGustSpeed     7.055548
WindDir9am        7.263853
WindDir3pm        2.906641
WindSpeed9am      1.214767
WindSpeed3pm      2.105046
Humidity9am       1.824557
Humidity3pm       3.098446
Pressure9am      10.356799
Pressure3pm      10.331363
Cloud9am         38.421559
Cloud3pm         40.807095
Temp9am           1.214767
Temp3pm           2.481094
RainToday         2.241853
RainTomorrow      2.245978
dtype: float64

In [10]:
drop_cols = ['Evaporation', 'Sunshine', 'Cloud9am', 'Cloud3pm']
data_copy = data_copy.drop(columns=drop_cols)

In [11]:
data_copy.head(5)
data_copy.shape

(145460, 19)

In [12]:
data_copy=data_copy.dropna(subset=["RainTomorrow"])
data_copy.shape

(142193, 19)

In [13]:
cat_cols = ['WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday']
for col in cat_cols:
    data_copy[col].fillna(data_copy[col].mode()[0], inplace=True)

C:\Users\mahek\AppData\Local\Temp\ipykernel_23820\3486495443.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_copy[col].fillna(data_copy[col].mode()[0], inplace=True)

In [14]:
(data_copy.isnull().sum()/len(data_copy))*100

Date             0.000000
Location         0.000000
MinTemp          0.447983
MaxTemp          0.226453
Rainfall         0.988797
WindGustDir      0.000000
WindGustSpeed    6.519308
WindDir9am       0.000000
WindDir3pm       0.000000
WindSpeed9am     0.948007
WindSpeed3pm     1.849599
Humidity9am      1.247600
Humidity3pm      2.538803
Pressure9am      9.855619
Pressure3pm      9.832411
Temp9am          0.635756
Temp3pm          1.917113
RainToday        0.000000
RainTomorrow     0.000000
dtype: float64

In [15]:
simple_fill = [ 'MinTemp', 'MaxTemp', 'Rainfall', 'Temp9am']
data_copy[simple_fill] = data_copy[simple_fill].fillna(data_copy[simple_fill].median())

In [16]:
(data_copy.isnull().sum()/len(data_copy))*100

Date             0.000000
Location         0.000000
MinTemp          0.000000
MaxTemp          0.000000
Rainfall         0.000000
WindGustDir      0.000000
WindGustSpeed    6.519308
WindDir9am       0.000000
WindDir3pm       0.000000
WindSpeed9am     0.948007
WindSpeed3pm     1.849599
Humidity9am      1.247600
Humidity3pm      2.538803
Pressure9am      9.855619
Pressure3pm      9.832411
Temp9am          0.000000
Temp3pm          1.917113
RainToday        0.000000
RainTomorrow     0.000000
dtype: float64

In [17]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 142193 entries, 0 to 145458
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           142193 non-null  object
 1   Location       142193 non-null  object
 2   MinTemp        142193 non-null  float64
 3   MaxTemp        142193 non-null  float64
 4   Rainfall       142193 non-null  float64
 5   WindGustDir    142193 non-null  object
 6   WindGustSpeed  132923 non-null  float64
 7   WindDir9am     142193 non-null  object
 8   WindDir3pm     142193 non-null  object
 9   WindSpeed9am   140845 non-null  float64
 10  WindSpeed3pm   139563 non-null  float64
 11  Humidity9am    140419 non-null  float64
 12  Humidity3pm    138583 non-null  float64
 13  Pressure9am    128179 non-null  float64
 14  Pressure3pm    128212 non-null  float64
 15  Temp9am        142193 non-null  float64
 16  Temp3pm        139467 non-null  float64
 17  RainToday      142193 non-null  object
 18  RainTomorrow   142193 non-null  object
dtypes: float64(12), object(7)
memory usage: 21.7+ MB

In [18]:
from sklearn.impute import KNNImputer

knn_cols = ['WindSpeed3pm','Humidity9am','Temp3pm',]

imputer = KNNImputer(n_neighbors=5)
data[knn_cols] = imputer.fit_transform(data[knn_cols])

In [19]:
(data_copy.isnull().sum()/len(data_copy))*100

Date             0.000000
Location         0.000000
MinTemp          0.000000
MaxTemp          0.000000
Rainfall         0.000000
WindGustDir      0.000000
WindGustSpeed    6.519308
WindDir9am       0.000000
WindDir3pm       0.000000
WindSpeed9am     0.948007
WindSpeed3pm     1.849599
Humidity9am      1.247600
Humidity3pm      2.538803
Pressure9am      9.855619
Pressure3pm      9.832411
Temp9am          0.000000
Temp3pm          1.917113
RainToday        0.000000
RainTomorrow     0.000000
dtype: float64

In [20]:
import warnings
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.exceptions import ConvergenceWarning
warnings.filterwarnings("ignore", category=ConvergenceWarning)

iter_cols = ['Pressure9am', 'Pressure3pm', 'Temp3pm', 'WindGustSpeed','Humidity3pm']
imputer = IterativeImputer(max_iter=10, random_state=42)
data[iter_cols] = imputer.fit_transform(data[iter_cols])

In [21]:
(data_copy.isnull().sum()/len(data_copy))*100

Date             0.000000
Location         0.000000
MinTemp          0.000000
MaxTemp          0.000000
Rainfall         0.000000
WindGustDir      0.000000
WindGustSpeed    6.519308
WindDir9am       0.000000
WindDir3pm       0.000000
WindSpeed9am     0.948007
WindSpeed3pm     1.849599
Humidity9am      1.247600
Humidity3pm      2.538803
Pressure9am      9.855619
Pressure3pm      9.832411
Temp9am          0.000000
Temp3pm          1.917113
RainToday        0.000000
RainTomorrow     0.000000
dtype: float64

In [22]:
#data one hot encoding
import pandas as pd

# Assume your DataFrame is df
data_copy = pd.get_dummies(data_copy, columns=['RainToday'], drop_first=True, dtype=int)

In [23]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 142193 entries, 0 to 145458
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           142193 non-null  object
 1   Location       142193 non-null  object
 2   MinTemp        142193 non-null  float64
 3   MaxTemp        142193 non-null  float64
 4   Rainfall       142193 non-null  float64
 5   WindGustDir    142193 non-null  object
 6   WindGustSpeed  132923 non-null  float64
 7   WindDir9am     142193 non-null  object
 8   WindDir3pm     142193 non-null  object
 9   WindSpeed9am   140845 non-null  float64
 10  WindSpeed3pm   139563 non-null  float64
 11  Humidity9am    140419 non-null  float64
 12  Humidity3pm    138583 non-null  float64
 13  Pressure9am    128179 non-null  float64
 14  Pressure3pm    128212 non-null  float64
 15  Temp9am        142193 non-null  float64
 16  Temp3pm        139467 non-null  float64
 17  RainTomorrow   142193 non-null  object
 18  RainToday_Yes  142193 non-null  int64
dtypes: float64(12), int64(1), object(6)
memory usage: 21.7+ MB

In [24]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
cols = ['WindDir9am', 'WindDir3pm', 'WindGustDir']

for col in cols:
    data_copy[col] = le.fit_transform(data_copy[col])

In [25]:
data_copy.head(5)

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainTomorrow,RainToday_Yes
0,2008-12-01,Albury,13.4,22.9,0.6,13,44.0,13,14,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8,No,0
1,2008-12-02,Albury,7.4,25.1,0.0,14,44.0,6,15,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3,No,0
2,2008-12-03,Albury,12.9,25.7,0.0,15,46.0,13,15,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2,No,0
3,2008-12-04,Albury,9.2,28.0,0.0,4,24.0,9,0,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5,No,0
4,2008-12-05,Albury,17.5,32.3,1.0,13,41.0,1,7,7.0,20.0,82.0,33.0,1010.8,1006.0,17.8,29.7,No,0

In [26]:
from sklearn.preprocessing import StandardScaler

num_cols = [
    'MinTemp', 'MaxTemp', 'Rainfall', 'WindGustSpeed',
    'WindSpeed9am', 'WindSpeed3pm',
    'Humidity9am', 'Humidity3pm',
    'Pressure9am', 'Pressure3pm',
    'Temp9am', 'Temp3pm'
]

scaler = StandardScaler()
data_copy[num_cols] = scaler.fit_transform(data_copy[num_cols])

In [27]:
data_copy.head(7)

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainTomorrow,RainToday_Yes
0,2008-12-01,Albury,0.190085,-0.045764,-0.204920,13,0.295517,13,14,0.674441,0.609137,0.113179,-1.417590,-1.400863,-1.159388,-0.013238,0.016254,No,0
1,2008-12-02,Albury,-0.749042,0.263677,-0.276125,14,0.295517,6,15,-1.124665,0.381950,-1.304053,-1.273343,-0.992725,-1.059908,0.033114,0.376611,No,0
2,2008-12-03,Albury,0.111824,0.348070,-0.276125,15,0.442698,13,15,0.561997,0.836324,-1.618994,-1.032932,-1.414937,-0.932007,0.620242,0.218054,No,0
3,2008-12-04,Albury,-0.467304,0.671577,-0.276125,4,-1.176289,9,0,-0.337556,-1.094767,-1.251563,-1.706083,-0.007566,-0.349343,0.172171,0.693725,No,0
4,2008-12-05,Albury,0.831821,1.276393,-0.157450,13,0.074746,1,7,-0.787332,0.154763,0.690569,-0.888685,-0.964578,-1.315712,0.125818,1.154982,No,0
5,2008-12-06,Albury,0.377910,0.910690,-0.252390,14,1.178601,13,13,0.561997,0.609137,-0.726662,-1.369508,-1.189757,-1.400980,0.558439,1.039668,No,0
6,2008-12-07,Albury,0.330954,0.249611,-0.276125,13,0.737059,12,13,0.674441,0.609137,-1.041603,-1.561837,-1.133462,-1.003063,0.172171,0.419854,No,0

In [28]:
# Example one-hot encoding
data_copy = pd.get_dummies(data_copy, columns=['Location'], drop_first=True)
data_copy['RainTomorrow'] = data_copy['RainTomorrow'].map({'No': 0, 'Yes': 1})

In [30]:
data_copy['Date'] = pd.to_datetime(data_copy['Date'])
data_copy['IsWeekend'] = data_copy['DayOfWeek'].isin([5,6]).astype(int)

KeyError: 'Date'

In [ ]:
def get_season(month):
    if month in [12, 1, 2]: return 'Summer'
    elif month in [3, 4, 5]: return 'Autumn'
    elif month in [6, 7, 8]: return 'Winter'
    else: return 'Spring'
data_copy['Season'] = data_copy['Month'].apply(get_season)
data_copy = pd.get_dummies(data_copy, columns=['Season'], drop_first=True)

In [ ]:
data_copy['TempRange'] = data_copy['MaxTemp'] - data_copy['MinTemp']
data_copy['TempDiff9am3pm'] = data_copy['Temp3pm'] - data_copy['Temp9am']

In [ ]:
data_copy['HumidityDiff'] = data_copy['Humidity3pm'] - data_copy['Humidity9am']
data_copy['WindSpeedDiff'] = data_copy['WindSpeed3pm'] - data_copy['WindSpeed9am']

In [ ]:
data_copy = data_copy.sort_values(['Location', 'Date'])
data_copy['Rainfall_3dayAvg'] = data_copy.groupby('Location')['Rainfall'].transform(lambda x: x.rolling(3, min_periods=1).mean())
data_copy['Rainfall_Lag1'] = data_copy.groupby('Location')['Rainfall'].shift(1)
data_copy['Temp3pm_Lag1'] = data_copy.groupby('Location')['Temp3pm'].shift(1)